<html id="html" lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <link rel="icon" type="image/x-icon" href="{{ url_for('home.static', filename='icon/favricorn.png')}}" />
        <link rel="stylesheet" href="{{ url_for('home.static', filename='css/style.css')}}" />

        <title>Japholio</title>

        <style>
            .htaml-none {
                display: none;
            }
        </style>
    </head>

    <body class="htaml-none htaml-fadein-active">
        <header
            h-dom:data="{about:'About',skills:'Skills',services:'Services',projects:'Projects',contact:'Contact',text_one:'Japho',text_two:'lio'}">
            <div>
                <a href="/">
                    <h2 h-dom:text="text_one"><span h-dom:text="text_two"></span></h2>
                </a>
            </div>
            <div>
                <a href="#about" h-dom:text="about"></a>
                <a href="#skills" h-dom:text="skills"></a>
                <a href="#services" h-dom:text="services"></a>
                <a href="#projects" h-dom:text="projects"></a>
                <a href="#contact" h-dom:text="contact"></a>
            </div>
        </header>

        <main id="main">
            <section class="container">

                <!-- info -->
                <section id="info" class="observer">
                    <div id="info__doc">
                        <h2>Hello, <span>I'm</span></h2>
                        <h1>Jaedan Willis</h1>
                        <h2>Free Lancer</h2>
                        <p>With knowlegde of Web Development and Software Development, I offer the best projects
                            resulting in quality.</p>
                        <button h-on:trigger="click"
                            h-run:hscript="document.getElementById('contact').scrollIntoView({behavior: 'smooth' })">Let's
                            Talk</button>
                        <div>
                            <a href="#" target="_blank" rel="noopener noreferrer"> <i
                                    class="fa-brands fa-instagram"></i></a>
                            <a href="#" target="_blank" rel="noopener noreferrer"><i
                                    class="fa-brands fa-linkedin-in"></i></a>
                            <a href="#" target="_blank" rel="noopener noreferrer"><i
                                    class="fa-brands fa-twitter"></i></a>
                        </div>
                    </div>
                    <div id="info__image">
                        <img src="{{ url_for('home.static', filename='images/IMG-20190926-WA0011.jpg')}}"
                            alt="a pic of me" />
                    </div>
                </section>

                <!-- about -->
                <section id="about" class="observer">
                    <div id="about__header">
                        <h3><span></span></h3>
                        <h2>About Me</h2>
                    </div>
                </section>

                <!-- skills -->
                <section id="skills" class="observer">
                    <div id="skills__header">
                        <h3>Favourite <span>Skills</span></h3>
                        <h2>My Skills</h2>
                    </div>

                    <h-script>
                        const skills = [
                        {
                        'name': 'Mobile App Skills',
                        'skills': [
                        "PWA's",
                        'NativaScript',
                        'Android Studio'
                        ],
                        },
                        {
                        'name': 'Frontend Skills',
                        'skills': [
                        'CSS3',
                        'SCSS',
                        'HTML5',
                        'Angular+',
                        'Typescript',
                        'Javascript'
                        ],
                        },
                        {
                        'name': 'Backend Skills',
                        'skills': [
                        'Flask',
                        'NodeJs',
                        'Express',
                        ],
                        },
                        {
                        'name': 'Software Skills',
                        'skills': [
                        'C',
                        'C#',
                        'Go',
                        'Java',
                        'Kotlin',
                        'JScript',
                        'Python'
                        ],
                        },
                        {
                        'name': 'Hardware Skills',
                        'skills': [
                        'Embedded C',
                        'Arduino C++'
                        ],
                        },
                        {
                        'name': 'Essentials Skills',
                        'skills': [
                        'SQL',
                        'Github',
                        'Docker',
                        'MongoDb',
                        'Lucidchart',
                        'Microservices',
                        'Microsoft 365',
                        'Microsoft Azure'
                        ],
                        }
                        ];
                        return skills;
                    </h-script>

                    <div h-run:for="skill in skills" id="skills__cards">
                        <div id="skills__card">
                            <h3 h-dom:text="skill.name"></h3>
                            <ul h-run:for="name in skill.skills">
                                <li h-dom:text="name"></li>
                            </ul>
                        </div>
                    </div>
                </section>

                <!-- services -->
                <section id="services" class="observer">
                    <div id="services__header">
                        <h3>My <span>Services</span></h3>
                        <h2>What I Offer</h2>
                    </div>

                    <h-script>
                        const services = [
                        {
                        'name': 'Web Developer',
                        'icon': './static/icon/web.png',
                        'description': 'Develope of custom web pages using current technologies and libaries.',
                        },
                        {
                        'name': 'Software Developer',
                        'icon': './static/icon/clean-code.png',
                        'description': 'Develope of custom software.',
                        }
                        ];
                        return services;
                    </h-script>

                    <div h-run:for="service in services" id="services__cards">
                        <div id="services__card">
                            <div>
                                <img h-dom:src="service.icon" alt="" />
                            </div>

                            <h2 h-dom:text="service.name"></h2>
                            <p h-dom:text="service.description"></p>
                        </div>
                    </div>
                </section>

                <!-- projects -->
                <section id="projects" class="observer">
                    <div id="projects__header">
                        <h3>My <span>Projects</span></h3>
                        <h2>What I Made</h2>
                    </div>

                    <div id="projects__ideas">
                        <div id="projects__tabs">
                            <ul>
                                <li class="tabactive" h-on:trigger="click" h-dom:flick="#ui attr:tab active:.tabactive">
                                    Ui</li>
                                <li h-on:trigger="click" h-dom:flick="#web attr:tab active:.tabactive">Web </li>
                                <li h-on:trigger="click" h-dom:flick="#bots attr:tab active:.tabactive">Bots</li>
                                <li h-on:trigger="click" h-dom:flick="#shell attr:tab active:.tabactive">Shell</li>
                                <li h-on:trigger="click" h-dom:flick="#devprojects attr:tab active:.tabactive">Projects
                                </li>
                            </ul>
                        </div>

                        <section id="ui" tab>
                            <h-script>
                                let uis = [
                                {
                                'name': 'CroSafe',
                                'icon': './static/icon/radar.png',
                                'link_text': 'Code Unavailable',
                                'link': '',
                                'description': 'A password manager. written in python.',
                                },
                                {
                                'name': 'CroLoc',
                                'icon': './static/icon/radar.png',
                                'link_text': 'Code Unavailable',
                                'link': '',
                                'description': 'A password manager, written in javafx.',
                                },
                                {
                                'name': 'CroPy2Exe',
                                'icon': './static/icon/radar.png',
                                'link_text': 'View Code',
                                'link': 'https://github.com/cro-technologies/cro_py2exe',
                                'description': 'A helpful program to generate a exe from a python file.',
                                }
                                ];

                                return uis;
                            </h-script>

                            <div h-run:for="ui in uis" id="projects__tabs-content">
                                <div id="projects__project">
                                    <div id="projects__img">
                                        <img h-dom:src="ui.icon" h-dom:alt="ui.link_text" />
                                    </div>
                                    <div id="projects__info">
                                        <h3 h-dom:text="ui.name"></h3>
                                        <div>
                                            <p h-dom:text="ui.description"></p>
                                        </div>
                                    </div>
                                    <div id="projects__link"><a h-dom:href="ui.link" h-dom:text="ui.link_text"
                                            target="_blank"></a>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section id="web" h-dom:cloak="none" tab>
                            <h-script>
                                let webs = [
                                {
                                'name': 'Fassion Breeze',
                                'icon': './static/icon/radar.png',
                                'link_text': 'View Site',
                                'link': 'https://fassionbreezestagesite.azurewebsites.net/men',
                                'description': 'A e-commerce service which offers a variety of clothing. Note currently
                                in stageing mode.',
                                },
                                {
                                'name': 'Fassion Breeze CMS',
                                'icon': './static/icon/radar.png',
                                'link_text': 'View Site',
                                'link': 'https://fassionbreezestagecms.azurewebsites.net',
                                'description': 'A custom CMS which manages Fassion Breeze front end. Note currently in
                                stageing mode.',
                                },
                                {
                                'name': 'Japholio',
                                'icon': './static/icon/radar.png',
                                'link_text': 'View Code',
                                'link': 'https://github.com/lonecoder-cro/japholio',
                                'description': 'This current website, built with htaml.js and flask.',
                                }
                                ];

                                return webs;
                            </h-script>

                            <div h-run:for="web in webs" id="projects__tabs-content">
                                <div id="projects__project">
                                    <div id="projects__img">
                                        <img h-dom:src="web.icon" h-dom:alt="web.link_text" />
                                    </div>
                                    <div id="projects__info">
                                        <h3 h-dom:text="web.name"></h3>
                                        <div>
                                            <p h-dom:text="web.description"></p>
                                        </div>
                                    </div>
                                    <div id="projects__link"><a h-dom:href="web.link" h-dom:text="web.link_text"
                                            target="_blank"></a>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section id="bots" h-dom:cloak="none" tab>
                            <h-script>
                                let bots = [
                                {
                                'name': 'Instagram',
                                'icon': './static/icon/radar.png',
                                'link_text': 'Code Unavailable',
                                'link': '',
                                'description': 'A instagram bot which can be used to perform automated task including
                                downloading photos,reels and videos.',
                                },
                                {
                                'name': 'TikTok',
                                'icon': './static/icon/radar.png',
                                'link_text': 'Code Unavailable',
                                'link': '',
                                'description': 'A tiktok bot which can be used to perform automated task including
                                downloading videos.',
                                },
                                {
                                'name': 'Crypto.com',
                                'icon': './static/icon/radar.png',
                                'link_text': 'Code Unavailable',
                                'link': '',
                                'description': 'A trading bot for crypto.com.',
                                },
                                {
                                'name': 'XVideos',
                                'icon': './static/icon/radar.png',
                                'link_text': 'Code Unavailable',
                                'link': '',
                                'description': 'A xvideos bot which can be used to perform automated task including
                                downloading videos.',
                                }
                                ];

                                return bots;
                            </h-script>

                            <div h-run:for="bot in bots" id="projects__tabs-content">
                                <div id="projects__project">
                                    <div id="projects__img">
                                        <img h-dom:src="bot.icon" h-dom:alt="bot.link_text" />
                                    </div>
                                    <div id="projects__info">
                                        <h3 h-dom:text="bot.name"></h3>
                                        <div>
                                            <p h-dom:text="bot.description"></p>
                                        </div>
                                    </div>
                                    <div id="projects__link"><a h-dom:href="bot.link" h-dom:text="bot.link_text"
                                            target="_blank"></a>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section id="shell" h-dom:cloak="none" tab>
                            <h-script>
                                let shells = [
                                {
                                'name': 'CroSteg',
                                'icon': '../static/icon/radar.png',
                                'link_text': 'Code Unavailable',
                                'link': '',
                                'description': 'A tool which allows you to perform steganography.',
                                },
                                {
                                'name': 'CroCord',
                                'icon': './static/icon/radar.png',
                                'link_text': 'View Code',
                                'link': 'https://github.com/cro-technologies/cro_cord',
                                'description': 'A tool which allows you to look up coordinates.',
                                },
                                {
                                'name': 'CroExtract',
                                'icon': './static/icon/radar.png',
                                'link_text': 'View Code',
                                'link': 'https://github.com/cro-technologies/cro_extract',
                                'description': 'A tool which allows you to extract emails, phone numbers,image metadata
                                and stored wifi passwords.A
                                url can also be used to extract emails and phone numbers.',
                                },
                                {
                                'name': 'CroSimper',
                                'icon': './static/icon/radar.png',
                                'link_text': 'Code Unavailable',
                                'link': '',
                                'description': 'A tool which allows you to look up your fav pornstar.',
                                },
                                {
                                'name': 'CroNet',
                                'icon': './static/icon/radar.png',
                                'link_text': 'View Code',
                                'link': 'https://github.com/cro-technologies/cro_net',
                                'description': 'A basic network scanner which scans for open ports.',
                                },
                                {
                                'name': 'CPass',
                                'icon': './static/icon/radar.png',
                                'link_text': 'View Code',
                                'link': 'https://github.com/cro-technologies/cro_pass',
                                'description': 'A random password generater that i used for all my passwords.',
                                }
                                ];

                                return shells;
                            </h-script>

                            <div h-run:for="shell in shells" id="projects__tabs-content">
                                <div id="projects__project">
                                    <div id="projects__img">
                                        <img h-dom:src="shell.icon" h-dom:alt="shell.link_text" />
                                    </div>
                                    <div id="projects__info">
                                        <h3 h-dom:text="shell.name"></h3>
                                        <div>
                                            <p h-dom:text="shell.description"></p>
                                        </div>
                                    </div>
                                    <div id="projects__link"><a h-dom:href="shell.link" h-dom:text="shell.link_text"
                                            target="_blank"></a>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section id="devprojects" h-dom:cloak="none" tab>
                            <h-script>
                                let devprojects = [
                                {
                                'name': 'HTAMLJS',
                                'icon': './static/icon/radar.png',
                                'link_text': 'View Code',
                                'link': 'https://github.com/lonecoder-cro/htamljs',
                                'description': 'A javascript libary similar to "HTMX" but written my way. It also powers
                                this website.',
                                },
                                {
                                'name': 'CroLang',
                                'icon': './static/icon/radar.png',
                                'link_text': 'Code Unavailable',
                                'link': '',
                                'description': 'My attempt of creating a interpreted programming language.',
                                }
                                ];

                                return devprojects;
                            </h-script>

                            <div h-run:for="project in devprojects" id="projects__tabs-content">
                                <div id="projects__project">
                                    <div id="projects__img">
                                        <img h-dom:src="project.icon" h-dom:alt="project.link_text" />
                                    </div>
                                    <div id="projects__info">
                                        <h3 h-dom:text="project.name"></h3>
                                        <div>
                                            <p h-dom:text="project.description"></p>
                                        </div>
                                    </div>
                                    <div id="projects__link"><a h-dom:href="project.link" h-dom:text="project.link_text"
                                            target="_blank"></a>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>

                </section>

                <section id="contact" class="observer">
                    <div id="contact__header">
                        <h3>Get In<span> Touch</span></h3>
                        <h2>Contact Me</h2>
                    </div>

                    <form id="contact__form">
                        <div id="contact__info">
                            <input type="text" name="name" placeholder="Your name" />
                            <input type="email" name="email" placeholder="Your email" />
                        </div>
                        <textarea name="message" id="" cols="30" rows="10"></textarea>
                        <p>Message Sent <i class="fa-solid fa-check"></i></p>
                        <div id="contact__sub"><button>Send Message</button></div>
                    </form>
                </section>
            </section>
        </main>

        <footer>
            <div>
                <h1><span></span></h1>
            </div>
            <div>
                <a href="#" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-instagram"></i></a>
                <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-twitter"></i></a>
            </div>

            <div>
                <p h-run:hscript="return new Date().getFullYear()" h-dom:data="{devYear:2023}"
                    h-run:if="hscript > devYear"
                    h-dom:text="Copyright &copy;,' ',devYear,-,hscript, japholio.com. All rights reserved.Powered by htaml.js and flask.">
                </p>
            </div>
        </footer>
    </body>

    <!-- external links -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L18MPLRG8V"></script>
    <script src="https://kit.fontawesome.com/c275cd6b9c.js" crossorigin="anonymous"></script>
    <script>
        //Google analyasis Google tag (gtag.js)
        window.dataLayer = window.dataLayer || []
        function gtag() {
            dataLayer.push(arguments)
        }
        gtag("js", new Date())
        gtag("config", "G-L18MPLRG8V");
    </script>

    <!-- local scripts -->
    <script type="text/javascript" src="./static/scripts/index.js"></script>
    <script type="text/javascript" src="{{ url_for('home.static', filename='scripts/email.js')}}"></script>
    <script defer type="text/javascript" src="{{ url_for('home.static', filename='scripts/htaml.js')}}"></script>

</html>
