@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

//Colors
$background-color: #2b2b2b;
$primary-color: #3f3f3f;
$secondary-color: #525252;
$dark-color: #121212;
$gray-color: #f4f4f4;

/*
Media Quries
*/
$smarthphone: 360px;
$smarthphone__landscape: 640; //667px;
$tablet: 768px; //960px;
$tabletxl: 800px;
$tablet__landscape: 1024px;
$tabletXL__landscape: 1280px;
$desktop: 1281px; //1281px; //960px;

@mixin smarthphone {
  @media (min-width:#{$smarthphone}) {
    @content;
  }
}

@mixin smarthphone__landscape {
  @media (min-width:#{$smarthphone__landscape})and (orientation:landscape) {
    @content;
  }
}

@mixin tablet {
  @media (min-width:#{$tablet}) {
    @content;
  }
}

@mixin tablet__landscape {
  @media (min-width:#{$tablet__landscape})and (orientation:landscape) {
    @content;
  }
}

@mixin tabletXL {
  @media (min-width:#{$tabletxl}) {
    @content;
  }
}

@mixin tabletXL__landscape {
  @media (min-width:#{$tabletXL__landscape})and (orientation:landscape) {
    @content;
  }
}

@mixin desktop {
  @media (min-width:#{$desktop}) {
    @content;
  }
}

//
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000000;
  } @else {
    @return #ffffff;
  }
}

@mixin set-background-color($color) {
  background-color: $color;
  color: set-text-color($color);
}
