@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
/*
Media Quries
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border: solid coral;
  border-width: 0 0 5px 0;
  background-color: rgba(63, 63, 63, 0.6);
  color: #ffffff;
}
@media (min-width: 640) and (orientation: landscape) {
  header {
    justify-content: space-between;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  header {
    justify-content: space-between;
  }
}
@media (min-width: 800px) {
  header {
    justify-content: space-between;
  }
}
@media (min-width: 1280px) and (orientation: landscape) {
  header {
    justify-content: space-between;
  }
}
@media (min-width: 1281px) {
  header {
    justify-content: space-between;
  }
}
header div:first-child a {
  color: white;
  text-decoration: none;
}
header div:first-child a h2 span {
  color: coral;
}
header div:nth-of-type(2) {
  width: 400px;
}
@media (min-width: 360px) {
  header div:nth-of-type(2) {
    display: none;
  }
}
@media (min-width: 640) and (orientation: landscape) {
  header div:nth-of-type(2) {
    display: block;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  header div:nth-of-type(2) {
    display: block;
  }
}
@media (min-width: 800px) {
  header div:nth-of-type(2) {
    display: block;
  }
}
@media (min-width: 1280px) and (orientation: landscape) {
  header div:nth-of-type(2) {
    display: block;
  }
}
@media (min-width: 1281px) {
  header div:nth-of-type(2) {
    display: block;
  }
}
header div:nth-of-type(2) a {
  color: white;
  padding: 10px;
}

main #info {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0.6em 0.3em 0.6em 0.3em rgba(82, 82, 82, 0.3);
  background-color: #3f3f3f;
  color: #ffffff;
}
@media (min-width: 640) and (orientation: landscape) {
  main #info {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  main #info {
    flex-direction: row;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  main #info {
    flex-direction: row;
  }
}
@media (min-width: 800px) {
  main #info {
    flex-direction: row;
    height: 600px;
  }
}
@media (min-width: 1280px) and (orientation: landscape) {
  main #info {
    flex-direction: row;
    height: 600px;
  }
}
@media (min-width: 1281px) {
  main #info {
    flex-direction: row;
    height: 600px;
  }
}
main #info div:first-child {
  background-color: #525252;
  color: #ffffff;
  margin: 1em;
}
main #info__doc {
  padding: 1em;
}
main #info__doc h2:nth-of-type(1) span {
  color: coral;
}
main #info__doc h1,
main #info__doc p {
<<<<<<< HEAD
  color: #2b2b2b;
=======
  color: white;
>>>>>>> 8cd86ba (Add files via vscode)
  word-wrap: break-word;
}
main #info__doc h1 {
  font-size: 3em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
main #info__doc h2:nth-of-type(2) {
  margin: 0.6em 0 0.6em 0;
}
main #info__doc p {
  font-weight: 600;
}
main #info__doc button {
  margin: 0.8em 0 0.6em 0;
  background-color: #2b2b2b;
  color: #ffffff;
  cursor: pointer;
  width: 130px;
  outline: none;
  border: none;
  border-radius: 5%;
  padding: 1.2em;
  transition-property: all;
  transition-delay: 0.3ms;
  transition-duration: 0.5ms;
  transition-timing-function: step-start;
}
main #info__doc button:hover {
  transform: scale(1.01);
  background-color: #383838;
  color: #ffffff;
}
main #info__doc div {
  margin: 0.8em 0 0em 0;
  width: 100%;
}
main #info__doc div a {
  text-decoration: none;
  color: white;
}
main #info__doc div a i {
  margin-right: 0.6em;
  font-size: 30px;
  transition-property: all;
  transition-delay: 0.3ms;
  transition-duration: 0.5ms;
  transition-timing-function: step-start;
  cursor: pointer;
}
main #info__doc div a i:hover {
  transform: scale(1.01);
}
main #info__image {
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #info__image img {
  height: 100%;
}
@media (min-width: 1281px) {
  main #info__image img {
    width: auto;
  }
}
main #about {
  box-shadow: 0.6em 0.3em 0.6em 0.3em rgba(82, 82, 82, 0.3);
  margin-bottom: 2em;
}
main #about__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}
main #about__header h3 {
  margin-bottom: 0em;
}
main #about__header span {
  color: coral;
}
main #about__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #3f3f3f;
  color: #ffffff;
}
main #about__card {
  margin: 2em;
  width: 340px;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: #525252;
  color: #ffffff;
  box-shadow: 0.6em 0.3em 0.6em 0.3em rgba(82, 82, 82, 0.3);
}
main #about__card ul {
  display: flex;
  flex-direction: column;
  list-style: circle;
  margin: 1em 0 1em 0;
}
main #skills {
  box-shadow: 0.6em 0.3em 0.6em 0.3em rgba(82, 82, 82, 0.3);
  margin-bottom: 2em;
}
main #skills__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}
main #skills__header h3 {
  margin-bottom: 0em;
}
main #skills__header span {
  color: coral;
}
main #skills__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #3f3f3f;
  color: #ffffff;
}
main #skills__card {
  margin: 2em;
  width: 240px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: #525252;
  color: #ffffff;
  box-shadow: 0.6em 0.3em 0.6em 0.3em rgba(82, 82, 82, 0.3);
}
main #skills__card h3 {
  text-align: center;
}
main #skills__card ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  list-style: circle;
  margin: 1em 0 1em 0;
  overflow: hidden;
  overflow-y: auto;
}
main #services {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main #services__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}
main #services__header span {
  color: coral;
}
main #services__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #3f3f3f;
  color: #ffffff;
}
main #services__card {
  margin: 2em;
  width: 400px;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: #525252;
  color: #ffffff;
  box-shadow: 0.6em 0.3em 0.6em 0.3em rgba(82, 82, 82, 0.3);
}
main #services__card div {
  height: 50px;
}
main #services__card div img {
  width: 65px;
  height: 65px;
}
main #services__card h2 {
  margin: 1.2em 0 1.2em 0;
  text-align: center;
}
main #services__card p {
  text-align: center;
}
main #projects {
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main #projects__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}
main #projects__header h3 {
  margin-bottom: 0em;
}
main #projects__header span {
  color: coral;
}
main #projects__ideas {
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 800px;
  overflow: hidden;
  overflow-y: auto;
  background-color: #3f3f3f;
  color: #ffffff;
}
main #projects__ideas a {
  text-decoration: none;
  color: white;
}
main #projects__tabs {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  width: 100%;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: auto;
  background-color: #3f3f3f;
  color: #ffffff;
  border-bottom: 5px solid coral;
}
main #projects__tabs ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
main #projects__tabs ul li {
  text-align: center;
  width: 200px;
  margin-right: 1em;
  padding: 0.8em;
  transition-property: all;
  transition-delay: 0.3ms;
  transition-duration: 0.5ms;
  transition-timing-function: step-start;
  cursor: pointer;
}
main #projects__tabs ul li:hover {
  transform: scale(1.01);
  background-color: #5f5f5f;
  color: #ffffff;
  border-left: 5px solid coral;
}
main #projects__tabs-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main #projects__project {
  padding: 1em;
  width: 240px;
  height: 310px;
  margin: 2em;
  display: flex;
  flex-direction: column;
  background-color: #525252;
  color: #ffffff;
  box-shadow: 0.6em 0.3em 0.6em 0.3em rgba(82, 82, 82, 0.3);
}
main #projects__img {
  display: flex;
  justify-content: center;
  margin: 1em;
}
main #projects__img img {
  width: 65px;
  height: 65px;
}
main #projects__info h3 {
  margin-bottom: 0.2em;
}
main #projects__info div {
  height: 120px;
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 0.8em;
  display: flex;
  flex-direction: column;
}
main #projects__info div p {
  word-wrap: break-word;
}
main #projects__link a {
  color: white;
  float: right;
  transition-delay: 0.3ms;
  transition-timing-function: step-end;
  transition-property: all;
}
main #projects__link a:hover {
  transform: scale(1.01);
  background-color: #5f5f5f;
  color: #ffffff;
  border-left: 5px solid coral;
}
main #contact {
  margin-bottom: 2em;
}
main #contact__header {
  margin-bottom: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #525252;
  color: #ffffff;
}
main #contact__header span {
  color: coral;
}
main #contact__form {
  width: 600px;
  margin: auto;
}
main #contact__form input,
main #contact__form textarea {
  border: 0;
  outline: none;
  background-color: #525252;
  color: #ffffff;
}
main #contact__form textarea {
  padding: 1em;
  width: 100%;
  height: 400px;
}
main #contact__form p {
  font-size: 0.8em;
  margin: 0.4em 0 0.6em 0;
  visibility: hidden;
}
main #contact P i {
  color: coral;
}
main #contact__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 640) and (orientation: landscape) {
  main #contact__info {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  main #contact__info {
    flex-direction: row;
  }
}
@media (min-width: 1280px) and (orientation: landscape) {
  main #contact__info {
    flex-direction: row;
  }
}
main #contact__info input {
  margin: 0 0 1em 0;
  width: 100%;
  height: 50px;
  padding: 0.5em;
}
@media (min-width: 768px) {
  main #contact__info input {
    flex-direction: row;
    width: 49%;
  }
}
@media (min-width: 1280px) and (orientation: landscape) {
  main #contact__info input {
    flex-direction: row;
    width: 49%;
  }
}
main #contact__sub {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
main #contact__sub button:first-child {
  background-color: #525252;
  color: #ffffff;
  cursor: pointer;
  width: 170px;
  outline: none;
  border: none;
  padding: 1.2em;
  transition-property: all;
  transition-delay: 0.3ms;
  transition-duration: 0.5ms;
  transition-timing-function: step-start;
}
main #contact__sub button:first-child:hover {
  transform: scale(1.01);
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #525252;
  color: #ffffff;
}
@media (min-width: 640) and (orientation: landscape) {
  footer {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  footer {
    justify-content: space-evenly;
    flex-direction: row;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  footer {
    justify-content: space-evenly;
    flex-direction: row;
  }
}
@media (min-width: 800px) {
  footer {
    justify-content: space-evenly;
    flex-direction: row;
  }
}
@media (min-width: 1280px) and (orientation: landscape) {
  footer {
    justify-content: space-evenly;
    flex-direction: row;
  }
}
@media (min-width: 1281px) {
  footer {
    justify-content: space-evenly;
    flex-direction: row;
  }
}
footer div {
  margin: 1em;
  max-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div:nth-of-type(2) a {
  text-decoration: none;
  color: white;
}
footer div:nth-of-type(2) a i {
  margin-right: 0.6em;
  font-size: 30px;
  transition-property: all;
  transition-delay: 0.3ms;
  transition-duration: 0.5ms;
  transition-timing-function: step-start;
  cursor: pointer;
}
footer div:nth-of-type(2) a i:hover {
  transform: scale(1.01);
}
footer p {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  background-color: #2b2b2b;
  color: #ffffff;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 90%;
  overflow: hidden;
  margin: auto;
}
@media (min-width: 800px) {
  .container {
    width: 80%;
  }
}
@media (min-width: 1280px) and (orientation: landscape) {
  .container {
    width: 80%;
  }
}
@media (min-width: 1281px) {
  .container {
    width: 80%;
  }
}

.observer {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 1ms;
}

.observer-show {
  opacity: 1;
}

.observer-hide {
  opacity: 0;
}

.tab-hide {
  display: none;
}

.tab-show {
  display: flex;
}

.tabactive {
  transform: scale(1.01);
  background-color: #5f5f5f;
  color: #ffffff;
  border-left: 5px solid coral;
}